<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Created:</strong>
  <%= l @user.created_at, format: :long %>
</p>

<p>
  <strong>Last Change:</strong>
  <%= l @user.histories.last.created_at, format: :long rescue '-' %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
